<div>
  <div><%= @movie.name %></div>
  <div><%= @movie.year %></div>
  <div><%= @movie.description %></div>
  <div><%= image_tag "#{@movie.image_url}" %></div>
  <% if @movie.is_showing %>
    <div>上映中</div>
  <% else %>
    <div>上映予定</div>
  <% end %>
</div>
<div>
  <% @schedules.each do |schedule| %>
    <div>
      <%= schedule.start_time.strftime('%m/%d %-H:%M') %>
      <%= schedule.end_time.strftime('%-H:%M') %>
      <button>
        <%= link_to "座席を予約する", reservation_path(movie_id: @movie.id, schedule_id: schedule.id, date: schedule.start_time) %>        
      </button>
      <%#= button_to "座席を予約する", reservation_path(movie_id: @movie.id), { method: :get, params: {schedule_id: schedule.id, date: schedule.start_time} } %>
    </div>
  <% end %>
</div>